<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-info">
      <h3>香川大学医学部附属病院 呼吸器・乳腺内分泌外科</h3>
      <p>
        {{ .Site.Params.address }}<br>
        TEL {{ .Site.Params.tel }}<br>
        FAX {{ .Site.Params.fax }}
      </p>
    </div>
    <div class="footer-info">
      <h3>関連リンク</h3>
      <p>
        <a href="https://www.med.kagawa-u.ac.jp/" style="color:rgba(255,255,255,0.8)">香川大学医学部</a><br>
        <a href="https://www.med.kagawa-u.ac.jp/hosp/" style="color:rgba(255,255,255,0.8)">香川大学医学部附属病院</a>
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; {{ now.Year }} Department of General Thoracic Surgery, Breast and Endocrinological Surgery, Kagawa University
  </div>
</footer>
